# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Data files
data/words*
data/words.txt

# Project folders
src/__pycache__/
notes/
dump/

# IDE files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs / env
*.log
.env